<section class="h-100 h-custom gradient-custom-2">

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-6">
                <div class="card card-registration card-registration-2" style="border-radius: 18px;">
                    <div class="card-body p-0">

                        <div class="row g-0">
                            {{!-- <div class="col-lg-6"> --}}
                                <div class="p-5">

                                    <div class="container  ">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <form action="/admin/add_eventname" method="post" role="form"
                                                        enctype="application/x-www-form-urlencoded" id="signup-form">


                                                        <div class="form-group mb-3 col-lg-12">
                                                            {{!-- <label for="pw_confirm">Event Name</label> --}}
                                                            <input type="text" class="form-control" name="eventname"
                                                                id="pw_confirm" placeholder="Event Name" required>
                                                        </div>
                                                        <div class="row mb-4">

                                                            <div class="col d-flex justify-content-center">
                                                                <div class="row col-lg-3 ">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>