
<section class="h-100 h-custom gradient-custom-2">

 <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
 <div class="card card-registration card-registration-2" style="border-radius: 18px;">
          <div class="card-body p-0">

             <div class="row g-0">
                <div class="p-5">
                    <div class="row mb-4">
    <div class="col d-flex justify-content-center">
          <div class="row col-lg-3 ">
 <h3 class="fw-normal justify-content-center align-items-center mb-5" style="color: #4835d4;">Add Carousel</h3>
</div></div></div>
<div class="container mt-5 ">
<form action="/admin/carousel" method="post"enctype="multipart/form-data">




 

  

  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
  <div class="form-outline mb-4 col-lg-3">
   <label class="form-label" for="form3Examplev2">Carousel Image</label>
   </div>
     <div class="form-outline mb-4 col-lg-3">
 <input type="file" name="image" id="form2Example2" class="form-control" />
  </div>
  
  </div>
    </div>

 



  <!-- Submit button -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
          <div class="row col-lg-3 ">
  <button type="submit" class="btn btn-primary btn-block mb-4 ">Add</button>

</div>
</div></div>
  
</form> 
</div>

</div></div>

</div></div>

</div></div></div>

</section>