

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/images/logo-pink.jpg" alt="" style="height: 100px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pe-2" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/admin/Booking">Booking</a>
        </li>
               <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Events</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/admin/Event_Type">Event Type</a></li>
      <li><a class="dropdown-item" href="/admin/add_eventname">Event Name</a></li>
      <li><a class="dropdown-item" href="/admin">Add Events</a></li>
      <li><a class="dropdown-item" href="/admin/event_list">Event List</a></li>
      
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Items</a>
    <ul class="dropdown-menu">
      <li> <a class="dropdown-item" href="/admin//food_category">Food Category</a></li>
      <li><a class="dropdown-item" href="/admin/food_subcategory">Food Sub Category</a></li>
      <li><a class="dropdown-item" href="/admin/add_fooddetails">Add Food Details</a></li>
      <li><a class="dropdown-item" href="/admin/food_list">Food List</a></li>
      
    </ul>
  </li>
      </ul>

      {{!-- <form action="/logout" method="get" class="d-flex">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
      </form> --}}
      <form action="/admin/logout" method="get" class="d-flex">
        <button class="btn btn-light my-2 my-sm-0" type="submit">Logout</button>
      </form>

      

    </div>
  </div>
</nav>

