<div class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">

    <a class="navbar-brand" href="#"><img src="/images/logo-pink.jpg" alt="" style="height: 100px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">

      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          
        </li>
      </ul>
                {{#if userValue}}
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Events</a>
          <ul class="dropdown-menu">
            {{#each EventName}}
            <li><a class="dropdown-item" href="/selected_event/{{this._id}}">{{this.eventname}}</a></li>
{{/each}}

          </ul>
                  <li class="nav-item">

                    <a class="nav-link active" href="/All-orderlist">Order List</a>
                    </li>

        </li>
        </li>
        <li class="nav-item">

        </li>
      </ul>
      <div class="d-flex justify-content-end">

        <form action="/logout" method="get" class="d-flex">
          <button class="btn btn-light my-2 my-sm-0" type="submit">Logout</button>
        </form>
        {{else}}
        <form action="/login" method="get" class="d-flex">
          <button class="btn btn-light my-2 my-sm-0" type="submit">Login</button>
        </form>
        {{/if}}
      </div>


    </div>

  </nav>