<section class="h-100 h-custom gradient-custom-2">

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-6">
                <div class="card card-registration card-registration-2" style="border-radius: 18px;">
                    <div class="card-body p-0 ">

                        <div class="row g-0 ">
                            {{!-- <div class="col-lg-6"> --}}
                                <div class="p-2 ">

                                    <div class="container ">
                                        <div class="container">
                                            <div class="row">
                                                <div
                                                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-4 d-flex justify-content-center">
                                                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Payment
                                                        Successful</h3>
                                                    <form action="/order-list" method="get" role="form">

                                                        <input type="text" value="{{bookid}}" name="id" hidden>

                                                </div>
                                                <div class="row mb-4">

                                                    <div class="col d-flex justify-content-center">
                                                        <div class="row col-lg-3 ">
                                                            <button type="submit" class="btn btn-primary btn-block mb-2">Order
                                                                List</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>